<div class="home-view">
  <div class="main-heading">
  <h1 >Learn to Speak</h1>
  <h6>A simple and practical view of learning</h6>
  </div>
  <div class="card">
    <tr>
    <td>I don't know</td>
    <td>Person</td>
    <td>I do Know</td><br>
    </tr>
    <tr>
    <td><b>How to speak in English.....</b></td>
    <td class="Learn"><b>Learning?</b></td>
    <td><b>How to speak in english......</b></td>
    </tr>
  </div>
</div>
  <div class="training-view">
    <h3>What We Do</h3>
    <h1>OUR TRAINING</h1>
    <mat-card class="card1">
      <mat-card-content class="content-view">
        <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">
        <div>
        <h2>SCHOOL TRAINING</h2>
        <p>Language Training Manners and Etiquette, Behaviour Skills, Presentation skills and so on</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card1">
        <mat-card-content class="content-view">
          <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">
        <div>
          <h2>COLLEGE TRAINING</h2>
          <p>Communication Skills,Soft skills,Interview Skills, Empolyablity Skills and so on</p>
        </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card1">
          <mat-card-content class="content-view">
            <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">
          <div>
            <h2>TEACHERS & TRAINERS TRAINING</h2>
            <p>Pedagogical Approches ,Faclitation Techquies, Experiantial Learning concepts and so on</p>
          </div>
          </mat-card-content>
    </mat-card>
    <mat-card class="card1">
            <mat-card-content class="content-view">
              <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">
            <div>
              <h2>EMPLOYEES & CORPORATE TRAINING</h2>
              <p>People Managemant, Teamworking,Critical Thinking, Leadership, Positive Thinking skills and so on </p>
            </div>
            </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h3>gallary</h3>
    <p>photots</p>
    <p>photots</p>  <p>photots</p>  <p>photots</p>  <p>photots</p>  <p>photots</p>  <p>photots</p>
  </div>
       
