<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul>
        <li>1st class</li>
        <li>2nd class</li>
        <li>3rd class</li>
        <li>4th class</li>
        <li>5th class</li>
        <li>6th class</li>
        <li>7th class</li>
        <li>8th class</li>
      </ul>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->
<div>
  <h3>SPECIALISED IN</h3>
  <div>
    
    
    
    
    <mat-grid-list cols="4" rowHeight="2:3">
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-content>
            <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">
            <h2>TRAINING PROGRAMME FOR SCHOOLS</h2>
            <p>Focused on Communicative English and Soft skills by using Flashcards,Songs ,Activities,Role plays</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-content>
            <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">

            <h2>TRAINING PROGRAMME FOR COLLEGES</h2>
            <p>Focused on Communicative English and Soft skills.</p>
            
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-content>
            <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">

            <h2>TRAINING PROGRAMME FOR TEACHERS & TRAINERS</h2>
            <p>Focused on Effective Pedagogical Apporches Like interactive activities and Experiantial Learning.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>`
        <mat-card class="card">
          <mat-card-content>
            <img  src="https://img.freepik.com/premium-vector/cartoon-happy-school-boy-raising-hands_29190-7042.jpg" width="80px" height="60px">

            <h2>TRAINING PROGRAMME FOR EMPLOYEES & CORPOTATES </h2>
            <p>Focused on <b>OKR Framework</b>,<b>Productivity Tools</b>,Teamworking, Leadership, Problem Sloving etc.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>  
  </div>
</div>