<div class="parent">
  <div class="child1">
    <mat-toolbar color="suceess"  class="nav-bar">
      <div routerLink="home" style="font-weight: bold;color:blue;font-size: 30px;">SRI MOKSHA<small style="font-size: 10px;color: crimson;">SmartShop</small></div>
      <div >
        <span routerLink="home">Home</span>
        <span routerLink="schools">services</span>
        <span routerLink="material">material</span>
        <span>contact us</span>
      </div>
    </mat-toolbar>
  </div>
  <div class="child2">
    <router-outlet></router-outlet>
  </div>
</div>
