.parent{
    width:100%;
    height:100%;
   background-color:#ffff;
}
.child1{
    max-width:100%;
    height:10%;

}
.child2{
    max-width:100%;
    height:90%;
}
.menu{
    justify-content:space-between;
    
}
.nav-bar{
    width: 100%;
    height:10%;
    justify-content:space-between;
    position:absolute;
    border: 1px solid black;
    }
span{
    padding-right: 1rem;
}
.content-view{
    background-color: dimgrey;
}